    // Setup {{safeId}} (Orientation: {{orientation}})
    {{safeId}}.setBounds({{x}}, {{y}}, 150, 30);
    {{safeId}}.setOrientation(aether::Slider::{{orientation}});
    if (auto* param = processor.getParameter("{{id}}")) { {{safeId}}.setParameter(param); }
    {{safeId}}.onValueChanged = [this](float val) { on{{capitalizedId}}ValueChanged(val); };